.About {
  background: var(--gradientDark);
  display: flex;
  padding: var(--s6) 0;
  width: 100%;
}

.AboutContainer {
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: var(--s3);
  width: 100%;
}

.About2ColumnContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--s6);
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  width: 100%;
}

.AboutLeft {
  flex: 1 0 calc(38.2% - var(--s6));
}

.AboutRight {
  flex: 1 0 61.8%;

  * + p {
    margin-top: var(--s3);
  }
}

.AboutTitle {
  composes: gradient__underline from global;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-bottom: var(--s5);
}

.AboutTitle2 {
  text-transform: none;
  letter-spacing: 0;
}

.AboutSubTitle {
  composes: subtitle from global;
}

.AboutImageContainer {
  margin: 0 auto var(--s3) auto;
  max-width: 400px;
  position: relative; // Just to get rid of Next.js warning
  width: 100%;

  > span {
    position: unset !important;
  }
}

.AboutImage {
  height: unset !important;
  position: relative !important;
  width: 100% !important;
}

.AboutSmall {
  color: var(--textL2Dark);
  display: inline-block;
  margin-top: var(--s3);
  margin-bottom: var(--s5);
}

.AboutEndText {
  composes: gradient from global;
  font-weight: bold;
  margin-top: var(--s7);
}