.About {
  background: var(--gradientDark);
  display: flex;
  padding: var(--s6) 0;
  width: 100%;
}

.AboutContainer {
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: var(--s3);
  width: 100%;
}

.About2ColumnContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--s6);
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  width: 100%;
}

.AboutLeft {
  flex: 1 0 calc(38.2% - var(--s6));
}

.AboutRight {
  flex: 1 0 61.8%;

  * + p {
    margin-top: var(--s3);
  }
}

.AboutTitle {
  composes: gradient__underline from global;
  margin-bottom: var(--s5);
}

.AboutTitle2 {
  letter-spacing: 0;
  text-align: center;
  text-transform: none;
  font-style: italic;
}

.AboutSubTitle {
  composes: subtitle from global;
}

.AboutImageContainer {
  margin: 0 auto var(--s3) auto;
  max-width: 400px;
  position: relative; // Just to get rid of Next.js warning
  width: 100%;

  > span {
    position: unset !important;
  }
}

.AboutImage {
  height: unset !important;
  position: relative !important;
  width: 100% !important;
}

.AboutSmall {
  color: var(--textL2Dark);
  display: inline-block;
  margin-top: var(--s3);
  margin-bottom: var(--s5);
}

.AboutEndText {
  composes: gradient from global;
  font-weight: bold;
  margin-top: var(--s7);
}

.Testimonials {
  margin: var(--s10) 0;
}

.TestimonialsContainer {
  display: grid;
  gap: var(--s5);
  grid-template-columns: repeat(auto-fit, minmax(min(340px, 100%), 1fr));
}

.TestimonialsTitle {
  composes: gradient__underline--secondary from global;
  margin-bottom: var(--s10);
  text-align: center;
}

.TestimonialsSubTitle {
  composes: subtitle from global;
  text-align: center;
}

.TestimonialsCard {
  background: var(--gradientDark);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: var(--s3);
}

.TestimonialsCardUpperContent {
  flex: 1 0 50%;
  max-height: 430px;
}

.TestimonialsCardImageContainer {
  margin: 0 auto var(--s3) auto;
  max-width: 400px;
  position: relative; // Just to get rid of Next.js warning
  width: 100%;
  max-width: 200px !important;

  > span {
    position: unset !important;
  }
}

.TestimonialsCardImage {
  border-radius: 50%;
  height: unset !important;
  position: relative !important;
  width: 100% !important;
}

.TestimonialsCardName {
  composes: gradient from global;
  text-align: center;
}

.TestimonialsCardSubTitle {
  composes: subtitle from global;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}

.TestimonialsCardText {
  margin-top: var(--s3);
  flex: 1 0 50%;
}
