.CaseStudy {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: var(--s4) auto 0 auto;
  width: 100%;

  p,
  ul {
    max-width: 70ch;
    margin: 0 auto;
  }

  * + p,
  * + ul {
    margin-top: var(--s3);
  }
}

.Section {
  background: var(--gradientDark);

  &:last-of-type {
    background: none;
    padding-bottom: var(--s8);
  }
}

.Container {
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: var(--s8) var(--s3);
  width: 100%;
}

.TwoColumnContainer {
  column-gap: var(--s3);
  display: flex;
  flex-wrap: wrap;
  margin: var(--s8) auto 0 auto;
  max-width: var(--contentMaxWidth);
  row-gap: var(--s3);
  width: 100%;
}

.ColumnBig {
  flex: 1 0 calc(61.8% - var(--s3));
}

.ColumnSmall {
  flex: 1 0 38.2%;
  min-width: 350px;

  div + div {
    margin-top: var(--s3) !important;
  }
}

.CaseStudyTitle {
  composes: gradient__underline from global;
  margin-bottom: var(--s10);
}

.CaseStudySubTitle {
  composes: subtitle from global;
}

.CaseStudySectionTitle {
  composes: gradient__underline from global;
  margin-bottom: var(--s10);
}

.CaseStudyProblemTitle,
.CaseStudySolutionTitle,
.CaseStudySolutionAndProblemTitle {
  font-weight: normal;
  span {
    font-weight: bold;
  }
}

.CaseStudyProblemTitle {
  composes: gradient--secondary from global;
}

.CaseStudySolutionTitle {
  composes: gradient from global;
}

.CaseStudySolutionAndProblemTitle {
  composes: gradient--secondary from global;
}

.CaseStudyConclusionTitle {
  composes: gradient from global;
  margin-top: var(--s3);
  text-align: center;
}

.CaseStudyConclusionText {
  composes: gradient from global;
  font-weight: bold;
}

// The "fixed" next/images don't specifiy initial dimensions and therefore suffer
// from a considerable amount of Cumulative Layout Shift.

// That's why we specify dimensions for images above the fold.
// With a fixed height or width howeer, the images wouldn't be responsive, so instead we set height: 0 and
// a padding-bottom percentage to get an image that always has a certain aspect ratio.

.ImageContainer {
  composes: AspectRatioImageContainer from global;

  img {
    border-radius: 8px;
  }
}

.TechStackImageContainer {
  composes: ImageContainer;

  padding-bottom: calc(
    (1 / (1232 / 148)) * 100%
  ); // Adjust aspect ratio to original image dimensions of 1232px x 148px
}

.CaseStudyImageCaption {
  composes: subtitle from global;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.CaseStudyLinkContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--s3);
  justify-content: center;
  margin: var(--s8) 0 0 0;
  flex-grow: 1;
  width: 100%;
}

.CaseStudyLink {
  composes: button from global;
}

.CaseStudyImageCaption + p {
  margin-top: var(--s6);
}

@media screen and (max-width: 979px) {
  .ImageContainer {
    margin-top: var(--s5);
  }
}

@media screen and (max-width: 450px) {
  .ColumnSmall {
    min-width: 160px;
  }
}
