.CaseStudy {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  margin-top: var(--s6);
  max-width: var(--contentMaxWidth);
  padding: var(--s3);
  width: 100%;

  section {
    margin: var(--s5) auto;
    max-width: 762px;

    &:last-of-type {
      padding-bottom: var(--s8);
    }
  }

  p {
    color: #292929;
  }

  * + p {
    margin-top: var(--s3);
  }

  h2 {
    margin-top: var(--s8);
  }

  h3,
  h5 {
    margin-top: var(--s3);
  }

  h5 {
    font-weight: 400;
    line-height: 1.6;
  }
}

.CaseStudyTitle {
  margin: var(--s4) 0 var(--s3) 0;
}

.CaseStudySubtitle {
  color: #666;
}

.CaseStudyProblemTitle,
.CaseStudySolutionTitle,
.CaseStudySolutionAndProblemTitle {
  font-weight: normal;
  span {
    font-weight: bold;
  }
}

.CaseStudyProblemTitle {
  span {
    color: var(--accentCol);
  }
}

.CaseStudySolutionTitle {
  span {
    color: var(--primaryCol);
  }
}

.CaseStudySolutionAndProblemTitle {
  span {
    color: var(--accentCol);
  }

  span:first-child {
    color: var(--primaryCol);
  }
}

.CaseStudyImageContainer {
  margin-top: var(--s5);
  margin-bottom: var(--s3);
  position: relative; // Just to get rid of Next.js warning
  width: 100%;

  > span {
    position: unset !important;
  }
}

.CaseStudyImageContainer + small {
  margin-bottom: var(--s3);
}

.CaseStudyImage {
  border-radius: 8px;
  height: unset !important;
  position: relative !important;
  width: 100% !important;
}

.CaseStudyImageCaption {
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.CaseStudyLinkContainer {
  margin: var(--s4) 0 var(--s8) 0;
  text-align: center;

  * + a {
    margin-left: var(--s3);
  }
}

.CaseStudyLink {
  composes: button from global;
}

.CaseStudyTechStackContainer {
  justify-content: center;
  display: flex;

  ul {
    margin: 0 var(--s3) 0 0;
    padding: 0 0 0 var(--s3);
  }
}

// .CaseStudySection {
//   display: grid;
//   column-gap: var(--s3);
//   grid-template-columns: 1.618fr 1fr;
//   grid-template-areas:
//     ". image"
//     ". image"
//     ". image";

//   p {
//     margin-top: var(--s3);
//     width: 100%;
//   }

//   .CaseStudyImageContainer {
//     margin-top: var(--s3);
//     grid-area: image;
//   }
// }
