{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@common": "./src/common",
        "@containers": "./src/containers",
        "@hooks": "./src/hooks",
        "@pages": "./pages",
        "@src": "./src"
      }
    }]
  ]
}