.CaseStudy {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  margin-top: var(--s6);
  max-width: var(--contentMaxWidth);
  padding: var(--s3);
  width: 100%;

  p {
    color: #666;
    width: 66%;
  }
  * + p {
    margin-top: var(--s3);
  }
  h1, h2 {
    margin-top: var(--s5);
  }

  h3 {
    margin-top: var(--s3);
  }
}

.CaseStudySubtitle {
  color: #666;
}

.CaseStudyImageContainer {
  border-radius: 16px;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.CaseStudyImage {
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.CaseStudyLinks {
  text-align: right;

  * + a {
    margin-left: var(--s3);
  }
}