.Project {
  border-radius: 16px;
  display: flex;
  margin-bottom: var(--s6);
  overflow: hidden;
  text-decoration: none;
}

.ProjectImageContainer {
  background: var(--backGradient);
  flex-grow: 1;
  height: 500px;
  position: relative;
}

.ProjectImage {
  object-fit: cover;
  transition: transform 0.3s ease-out, filter 0.3s ease-out;
}

.Project:hover .ProjectImage {
  transform: scale(1.05);
}

.ProjectDetails,
.ProjectDetailsLeft {
  background: var(--backCol);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 430px;
}

.ProjectDetails {
  padding: var(--s6) var(--s6) var(--s6) var(--s5);
}

.ProjectDetailsLeft {
  padding: var(--s6) var(--s5) var(--s6) var(--s6);
}

.devGaido {
  --backCol: #2e576b;
  --backGradient: linear-gradient(90deg, #79c4d2, #2e576b);
}

.myFlix {
  --backCol: #5d2e6b;
  --backGradient: linear-gradient(90deg, #5d2e6b, #be79d2);
}

.Pokédex {
  --backCol: #6b302e;
  --backGradient: linear-gradient(90deg, #d28979, #6b302e);
}

.Project button {
  border: 1px solid transparent;
}

.Project:hover button {
  border: 1px solid white;
}

.ProjectTitle {
  opacity: 0.9;
  margin-bottom: var(--s3);
}

.ProjectDescription {
  opacity: 0.8;
  margin-bottom: var(--s5);
}
