@use '_iconfont.scss';
@use '_typescale.scss';

// Use CSS variables instead of SCSS variables so we can use them in other files without the need to export/import
:root {
  --contentMaxWidth: 1280px;
  --textCol: #212121;
  --buttonTextCol: #fff;
  --linkCol: #131313;
  --textColDisabled: rgba(255, 255, 255, 0.4);
  --mutedText: rgba(255, 255, 255, 0.7);
  --mutedBlack: rgba(0, 0, 0, 0.1);

  // --primaryCol: #f97565;
  // --secondaryCol: #eb4985;
  // --primaryCol: #00D1CA;
  // --secondaryCol: #C8FFBE;
  // --primaryCol: #29BFDA;
  // --secondaryCol: #B04BBF;

  --primaryCol: #00D1CA;
  --secondaryCol: #C8FFBE;
  --tertiaryCol: #f97565;
  --quaternaryCol: #eb4985;
  --accentCol: #F36076;

  --linkUnderlineCol: #00d1ca62;

  --disabledCol: #43687c;
  --gradientCol1: #1c709d;
  --gradientCol2: #761d7d;
  --buttonGradientCol1: #f97565;
  --buttonGradientCol2: #eb4985;
  --s1: 8px;
  --s2: 16px;
  --s3: 24px;
  --s4: 32px;
  --s5: 48px;
  --s6: 64px;
  --s7: 72px;
  --s8: 80px;
  --transitionSpeed: 0.3s;
  --transitionTiming: ease-out;
}

// System font stack
* {
  font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
  color: var(--textCol);
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// TODO: choose a color that doesn't trigger "auto background color adjust" for anchor tags
::selection {
  background: var(--primaryCol);
}

a {
  color: var(--textCol);
  text-decoration: none;
  transition: all var(--transitionSpeed) var(--transitionTiming);
}

a:not([class]) {
  color: var(--textCol);

  // Fat underline link style:
  background: linear-gradient(to left, var(--linkUnderlineCol), var(--linkUnderlineCol));
  background-position: 0 100%;
  background-size: 100% 0.4em;
  background-repeat: repeat-x;

  &:hover {
    color: var(--accentCol);
  }
}

label {
  color: var(--textCol);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

input,
textarea {
  border-radius: var(--s1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--textCol);
  font-weight: normal;
  margin-bottom: var(--s2);
  margin-top: var(--s1);
  outline: none;
  outline: none;
  padding: var(--s1) var(--s3);
  transition: all var(--transitionSpeed) var(--transitionTiming);

  &:hover {
    border: 1px solid var(--textCol);
  }
  &:focus {
    border: 1px solid var(--textCol);
  }
}

// https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

button,
.button {
  background: linear-gradient(
    135deg,
    var(--tertiaryCol),
    var(--quaternaryCol),
    var(--primaryCol),
    var(--secondaryCol)
  );
  background-size: 300% 100%;
  background-position-x: -1px;
  border-radius: 999px;
  border: 1px solid transparent;
  color: var(--buttonTextCol);
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: bold !important;
  line-height: 1.6;
  outline: none;
  padding: var(--s1) var(--s3);
  text-decoration: none;
  transition: all var(--transitionSpeed) var(--transitionTiming);

  &:hover {
    background-position: 100% 0%;
    border: 1px solid #fff;
    color: var(--buttonTextCol);
  }

  &:disabled {
    background: var(--disabledCol);
    color: var(--textColDisabled);
    cursor: default;
  }
}

button.secondary,
.button.secondary {
  background: linear-gradient(
    135deg,
    var(--gradientCol1),
    var(--primaryCol),
    var(--buttonGradientCol1),
    var(--buttonGradientCol2)
  );
  background-size: 300% 100%;

  &:hover {
    background-position: 100% 0%;
  }
}

button.clear,
.button.clear {
  background: linear-gradient(
    135deg,
    var(--mutedBlack),
    var(--mutedBlack),
    var(--buttonGradientCol1),
    var(--buttonGradientCol2)
  );
  background-size: 400% 100%;
  background-position-x: -2px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: #fff;

  &:hover {
    color: white;
    background-position: 100% 0%;
  }
}

button.clear--secondary,
.button.clear--secondary {
  background: linear-gradient(
    135deg,
    var(--mutedBlack),
    var(--mutedBlack),
    var(--gradientCol1),
    var(--primaryCol)
  );
  background-size: 400% 100%;
  background-position-x: -2px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: #fff;

  &:hover {
    color: white;
    background-position: 100% 0%;
  }
}

// Enable a smooth transition from blurred placeholder to img for next/image
img {
  transition: filter 0.3s linear;
}

.gradient {
  background: linear-gradient(
    90deg,
    var(--primaryCol) 0%,
    var(--secondaryCol) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient--secondary {
  background: linear-gradient(
    90deg,
    var(--tertiaryCol) 0%,
    var(--quaternaryCol) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
