.Contact {
  background: var(--gradientDark);
  display: flex;
  padding: var(--s6) 0;
  width: 100%;

  input,
  textarea {
    width: 100%;
  }

  textarea {
    border-radius: var(--s1);
    min-height: 200px;
  }
}

.ContactButton {
  margin-top: var(--s5);
}

.ContactContainer {
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: var(--s3);
  width: 100%;
}

.Contact2ColumnContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--s3);
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  width: 100%;
}

.ContactContent {
  flex: 1 0 calc(38.2% - var(--s3));
}

.ContactTitle {
  composes: gradient__underline from global;
  margin-bottom: var(--s10);
}

.ContactSubTitle {
  composes: subtitle from global;
}

.ContactText {
  font-weight: bold;
  margin-bottom: var(--s3);
}

.SocialIconContainer {
  display: flex;
  justify-content: center;
  margin: var(--s8) auto var(--s8) auto;
  padding: var(--s1);

  * + * {
    margin-left: var(--s5);
  }
}

.SocialIcon {
  background: var(--gradientDark);
  border-radius: 8px;
  padding: var(--s1);

  span {
    display: inline-block;
    transform: translateX(0.15em);
  }
}

.ContactForm {
  flex: 1 0 61.8%;

  span {
    color: var(--accentCol);
  }

  textarea,
  input {
    background: #191919;
  }

  label {
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }

  // Make reCAPTCHA adjust size on smaller screens
  div:not([class]),
  iframe {
    max-width: 304px;
    width: 100% !important;
  }
}

.ContactButtonContainer {
  text-align: center;
}
