
.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  width: 100%;
}

//================================================================

.Hero {
  background: linear-gradient(270deg, #473b47, #596666);
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  margin-bottom: var(--s6);
  min-height: 100vh;
  padding: var(--s7) 0;
  position: relative;
  width: 100%;

  * {
    z-index: 1;
  }
}

.HeroContainer {
  align-content: center;
  align-items: center;
  display: grid;
  gap: var(--s3);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: flex-start;
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: 0 var(--s3);
  width: 100%;
}

.HeroTitle {
  grid-column: 1 / 3;
  grid-row:  1 / 2;
  margin-left: -2px;
}

.HeroText {
  composes: h4 from global;
  grid-column: 1 / 3;
  grid-row:  2 / 3;
  max-width: 70ch;
}

.HeroButton {
  grid-column: 1 / 2;
  grid-row:  3 / 4;
}

.PortraitImageContainer {
  grid-column: 3 / 4;
  grid-row:  1 / 4;
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 100%;
}

.PortraitImage {
  object-fit: contain;
}

@media screen and (max-width: 1080px) {
  .HeroContainer {
    align-content: flex-start;
    gap: var(--s3);
    justify-items: center;
  }

  .HeroTitle {
    grid-column: 1 / 4;
    margin-top: var(--s5);
  }

  .HeroText {
    grid-column: 1 / 4;
    grid-row:  3 / 4;    
  }
  
  .HeroButton {
    grid-column: 1 / 4;
    grid-row:  4 / 5;
    margin-top: var(--s1);
    text-align: center;
  }

  .PortraitImageContainer {
    grid-column: 1 / 4;
    grid-row:  2 / 3;
  }
}

@media screen and (max-width: 709px) {
  .HeroTitle {
    font-size: 2.441rem;
  }
}

@media screen and (max-width: 579px) {
  .HeroTitle {
    font-size: 1.953rem;
  }
}

.DownArrow {
  animation:
    DownArrowAnimation 1s ease-in-out 7s infinite alternate-reverse,
    FadeInAnimation 7s linear 0s 1 normal forwards;
  bottom: 0;
  color: var(--primaryCol);
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

@keyframes DownArrowAnimation {
  from {
    transform: translate(-50%, -20%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes FadeInAnimation {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  75% {
    opacity: 0;
    pointer-events: auto;
  }
  100% {
    opacity: 1;
  }
}
//================================================================

.About {
  background: #eee;
  color: #131313;
  display: flex;
  padding: var(--s6) 0;
  width: 100%;
}

.AboutContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: var(--s3);
  width: 100%;
}

.AboutContent {
  max-width: 70ch;
  * + p {
    margin-top: var(--s3);
  }
}

.AboutTitle {
  margin-bottom: var(--s5);
}

//================================================================

.Work {
  display: flex;
  padding: var(--s6) 0;
  width: 100%;
}

.WorkContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: var(--s3);
  width: 100%;
}

.WorkContent {
  width: 100%;
}

.WorkTitle {
  margin-bottom: var(--s5);
}

//================================================================

.Contact {
  display: flex;
  padding: var(--s6) 0;
  width: 100%;

  span {
    color: var(--accentCol);
    width: fit-content;
  }
  input, textarea {
    width: 100%;
  }

  textarea {
    border-radius: var(--s1);
  }
}

.ContactButton {
  margin-top: var(--s5);
}

.ContactContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: var(--s3);
  width: 100%;
}

.ContactContent {
  max-width: 600px;
}

.ContactTitle {
  margin-bottom: var(--s5);
}
//================================================================
