.navbar {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: 0 var(--s3);
  height: 80px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
  }
}

.navbar__link {
  color: var(--linkCol);
  font-size: 20px;
  text-decoration: none;
  padding: var(--s3);

  &:hover {
    color: var(--primaryCol);
    text-decoration: none;
  }
}

.navbar__link.button {
  margin-left: var(--s3)
}

.navbar__link--active {
  box-shadow: 0 1px var(--secondaryCol), 0 2px var(--primaryCol)
}

.navbar__left-side,
.navbar__right-side {
  display: flex;
  flex-grow: 1;
}

.navbar__right-side {
  align-items: center;
  justify-content: flex-end;
}

.logo__link {
  align-items: center;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  height: 100%;

  &:hover {
    color: var(--secondaryCol);
  }
}

.logo {
  font-weight: normal;
  font-size: 24px;
}

a.button.logout-button {
  margin-left: var(--s5);
  text-decoration: none;
}
