.NavBar {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: 0 var(--s3);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
  }
}

.NavBar__link {
  color: #fff;
  font-size: 20px;
  padding: var(--s3);
  text-decoration: none;

  &:hover {
    color: var(--primaryCol);
  }
}

.NavBar__LinkButton {
  margin-left: var(--s3)
}

.active {
  box-shadow: 0 3px var(--primaryCol)
}

.NavBar__left-side,
.NavBar__right-side {
  display: flex;
  flex-grow: 1;
}

.NavBar__right-side {
  align-items: center;
  justify-content: flex-end;
}

.logo__link {
  align-items: center;
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  text-decoration: none;

  &:hover {
    color: var(--primaryCol);
  }
}

.logo {
  font-size: 24px;
}
