.Project {
  border-radius: 16px;
  display: flex;
  margin-bottom: var(--s6);
  overflow: hidden;
  text-decoration: none;
}

.ProjectImageContainer {
  background: var(--backGradient);
  flex-grow: 1;
  height: 500px;
  position: relative;
}

.ProjectImage {
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.Project:hover .ProjectImage {
  transform: scale(1.05);
}

.ProjectDetails,
.ProjectDetailsLeft {
  background: var(--backCol);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 430px;
}

.ProjectDetails {
  padding: var(--s6) var(--s6) var(--s6) var(--s5);
}

.ProjectDetailsLeft {
  padding: var(--s6) var(--s5) var(--s6) var(--s6);
}

.devGaido {
  --backCol: #2E576B;
  --backGradient: linear-gradient(90deg, #79C4D2, #2E576B);
}

.myFlix {
  --backCol: #5D2E6B;
  --backGradient: linear-gradient(90deg, #5D2E6B, #BE79D2);
}

.Pokédex {
  --backCol: #6B302E;
  --backGradient: linear-gradient(90deg, #D28979, #6B302E);
}

.Project button {
  border: 1px solid transparent;
}

.Project:hover button {
  border: 1px solid white;
}

.ProjectTitle {
  opacity: 0.9;
  font-size: 36px;
  margin-bottom: var(--s3);
}

.ProjectDescription {
  opacity: 0.6;
  margin-bottom: var(--s5);
}