.Header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
// Since the Intersection Observer fires while page load, the solid header is shown for a bit.
// To remedy this, instead of using a transition, we use a delayed animation instead, which
// makes it so that only the transparent header is ever shown during loading.
// The only downside is that there is no transition when scrolling back up again.

.solid {
  animation: solidAnimation;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes solidAnimation {
  from {
    background: none;
  }
  to {
    background: rgba(0, 0, 0, 0.9);
  }
}

.HeaderSentinel {
  height: 80px; // Height of the NavBar
  position: absolute;
}