.NavBar {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: 0 var(--s3);

  li {
    display: inline;
  }
}

.NavBarNavItems {
  margin: 0;
}

.NavBarLink {
  background: linear-gradient(
    135deg,
    var(--textL1Dark),
    var(--textL1Dark),
    var(--primaryCol),
    var(--secondaryCol)
  );
  background-size: 400% 100%;
  background-position-x: -1px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    background-position: 100% 0%;

    transform: scale(1.3);
  }

  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.3em;
  // Letter-spacing actually leaves behind a space at the end of the word so we
  // add a padding-left the size of letter-spacing to have a centered underline.
  padding: var(--s1) 0 var(--s1) 0.3em;
  text-decoration: none;
  text-transform: uppercase;
}

.ListItem {
  background-position: left 100%;
  background-repeat: no-repeat;
  background-size: 0px 2px;
  margin-left: var(--s5);
  padding: var(--s1) 0;
  transition: all var(--transitionSpeed) var(--transitionTiming);
}

.activeListItem {
  composes: ListItem;
  background: linear-gradient(to right, var(--primaryCol), var(--secondaryCol));
  background-position: left 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
}

.NavBarLeftSide,
.NavBarRightSide {
  display: flex;
  flex-grow: 1;
}

.NavBarRightSide {
  align-items: center;
  justify-content: flex-end;
}

.LogoImageContainer {
  position: relative;
  height: 38px; //58px
  width: 58px; //90px
}

.LogoImage {
  object-fit: contain;
}

.LogoLink {
  display: flex;
  z-index: 301;
  width: 100%;
  &:hover {
    color: var(--primaryCol);
  }
}

.HamburgerButton {
  background: transparent;
  border: none;
  display: none;
  padding: 0;
  transition: transform var(--transitionSpeed) var(--transitionTiming);
  z-index: 999;

  &:hover {
    border: none;

    .HamburgerSpan {
      background: var(--primaryCol);
    }
  }

  * + * {
    margin-top: 8px;
  }
}

.HamburgerSpan {
  background: var(--textL1Dark);
  border-radius: 4px;
  display: block;
  height: 6px;
  transition: all var(--transitionSpeed) var(--transitionTiming);
  width: 44px;

  &:first-child {
    transform-origin: 0px 0px;
  }
  &:last-child {
    transform-origin: 0 100%;
  }
}

.openHamburgerButton {
  composes: HamburgerButton;
  transform: rotate(360deg) translate(8px, 0px);

  .HamburgerSpan:first-child {
    transform: rotate(45deg) translate(-2px, -1px);
  }

  .HamburgerSpan:nth-child(2) {
    opacity: 0;
  }

  .HamburgerSpan:last-child {
    transform: rotate(-45deg) translate(0, -1px);
  }

  &:hover {
    border: none;

    .HamburgerSpan {
      background: var(--accentCol);
    }
  }
}

.HamburgerMenu {
  background: #121212;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transform: translate(0, 0);
  transition: transform var(--transitionSpeed) ease-in-out;
  width: 100%;
  z-index: 300;
}

.hiddenHamburgerMenu {
  composes: HamburgerMenu;
  transform: translate(0, -100%);
}

.HamburgerNavItems {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  text-align: left;

  * + * {
    margin-top: var(--s3);
  }
}

.HamburgerMenu .HamburgerNavItems {
  padding: var(--s3);
}

@media screen and (max-width: 1080px) {
  .NavBarNavItems {
    display: none;
  }

  .HamburgerButton {
    display: inline-block;
  }
}
