// Modified from https://loading.io/css/

.LoadingSpinner {
  display: fixed;
  height: 100%;
  pointer-events: none;
  width: 100%;
  z-index: 999;
}

.LoadingSpinner:before,
.LoadingSpinner:after {
  animation: LoadingSpinnerAnim 0.9s linear infinite;
  border-color: #fff transparent #fff transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  content: ' ';
  display: block;
  height: 64px;
  left: 50%;
  margin: -32px;
  position: fixed;
  top: 50%;
  width: 64px;
}

.LoadingSpinner:after {
  animation: LoadingSpinner2Anim 0.9s linear infinite;
  height: 32px;
  margin: -16px;
  width: 32px;
}

@keyframes LoadingSpinnerAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes LoadingSpinner2Anim {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}